<a href="https://colab.research.google.com/github/2303A51756/2303A51756_B11_PDS/blob/main/lab06_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# ----- Step 1: Create a sample sales dataset with duplicates -----
data = {
    "TransactionID": [101, 102, 103, 104, 105, 103, 104],  # duplicate transaction IDs
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Charlie", "David"],
    "Product": ["Laptop", "Mobile", "Tablet", "Laptop", "Headphones", "Tablet", "Laptop"],
    "Amount": [1200, 800, 400, 1200, 150, 400, 1200]
}

df = pd.DataFrame(data)

print("----- Original Dataset -----")
print(df)

# ----- Step 2: Identify duplicate rows -----
duplicates = df.duplicated()
print("\nDuplicate Records (True means duplicate):")
print(duplicates)

# Count duplicates
duplicate_count = df.duplicated().sum()
print(f"\nNumber of duplicate records before cleaning: {duplicate_count}")

# ----- Step 3: Remove duplicates -----
df_cleaned = df.drop_duplicates()

# Count after cleaning
duplicate_count_after = df_cleaned.duplicated().sum()
print(f"Number of duplicate records after cleaning: {duplicate_count_after}")

print("\n----- Cleaned Dataset -----")
print(df_cleaned)

----- Original Dataset -----
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop    1200
1            102      Bob      Mobile     800
2            103  Charlie      Tablet     400
3            104    David      Laptop    1200
4            105      Eva  Headphones     150
5            103  Charlie      Tablet     400
6            104    David      Laptop    1200

Duplicate Records (True means duplicate):
0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

Number of duplicate records before cleaning: 2
Number of duplicate records after cleaning: 0

----- Cleaned Dataset -----
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop    1200
1            102      Bob      Mobile     800
2            103  Charlie      Tablet     400
3            104    David      Laptop    1200
4            105      Eva  Headphones     150

QUESTION 2:

In [2]:
import pandas as pd

# ----- Step 1: Create a sample employee dataset with incorrect data types -----
data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "70000"],   # stored as string
    "Joining_Date": ["2021-05-10", "2020-08-15", "2022-01-20", "2019-12-01"]  # stored as string
}

df = pd.DataFrame(data)

print("----- Original Dataset -----")
print(df.dtypes)   # Show original data types
print(df)

# ----- Step 2: Convert Salary to numeric -----
df["Salary"] = pd.to_numeric(df["Salary"])

# ----- Step 3: Convert Joining_Date to datetime -----
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\n----- Cleaned Dataset (After Type Conversion) -----")
print(df.dtypes)   # Show corrected data types
print(df)

----- Original Dataset -----
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2021-05-10
1           2      Bob  60000   2020-08-15
2           3  Charlie  55000   2022-01-20
3           4    David  70000   2019-12-01

----- Cleaned Dataset (After Type Conversion) -----
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2021-05-10
1           2      Bob   60000   2020-08-15
2           3  Charlie   55000   2022-01-20
3           4    David   70000   2019-12-01